<!DOCTYPE html>

<html>
    <body>
        <h2>Lisää kiivetty reitti</h2>
        <form action="/route_climbed" method="post">
            <p>Valitse sali</p>
            <input type="radio" name="gym"/>Sali1
            <input type="radio" name="gym"/>Sali2
            <p>Anna reitin nimi</p>
            <input type="text" name="route_name"/>
            <p>Anna reitin vaikeusaste</p>
            <input type="text" name="grade"/>
            <br />
            <input type="submit"/>Lähetä
        </form>
    </body>
</html>