<!DOCTYPE html>
<html>
    <head>
		<title>Luo tunnus</title>
    </head>

    <body>
        <h2>Luo tunnus</h2>
		<form action="/create" method="post">
	    	<p>
	        	Anna käyttäjätunnus:
	        	<input type="text" name="username"/>
	        	<br />
				Anna salasana:
				<input type="password" name="password1"/>
				<br />
				Anna salasana uudelleen:
				<input type="password" name="password2"/>
				<br />
				<input type="submit" value="Lähetä"/>
	    	</p>
		</form>
    </body>
</html>
